/*---------------
    Global reset
----------------*/
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: auto;
    font-family: 'Vollkorn', serif;
    background:white;
}
.hide{
    display: none;
}
/*---------------
    variables
----------------*/
:root{
    --headings-size: 5rem;
    --headings-wordspace: -1.5rem;

    --p-size: 1.6rem;
    --p-lineheight: 150%;

    --regular: 400;
    --semi: 500;
    --bold: 600;

    --q-size: 5rem;
    --q-lineheight: 5.4rem;
    --q-p-size: 2.5rem;

    --hightlight-size: 5rem;

    /*colors*/
    --color-main: red;
    --color-text: black;
    --color-acc: #FFD1D1;
    
    /*buttons*/
    --btn-padding: 2rem;

    --mobile-btn-size: 3.6rem;

    --nav-negative-height: -10rem;
    --nav-height: 20rem;
}
/*---------------
    Anchor target
----------------*/
.target{
    position: absolute;
    top: 0;
}
#products{
    position: relative;
}
/*---------------
    Typography
----------------*/
@font-face{
    font-family: belshaw;
    src: url(fonts/belshaw.ttf);
}
h1,h2{
    font-family: belshaw;
    font-weight: 100;
    word-spacing: var(--headings-wordspace);
    font-size: var(--headings-size);
    color: var(--color-main);
}
p, li, a, q, span{
    font-size: var(--p-size);
    line-height: var(--p-lineheight);
    font-weight: var(--regular);

}
    p, a, q, ul{
        margin: 0 0 var(--p-size) 0;
    }
/* Links */
a, a:visited{
    text-transform: uppercase;
    position: relative;
    font-weight: var(--bold);
    color: black;
    text-decoration: none;
    transition: 0.3s;
    will-change: transition;
    text-decoration: underline;
    text-decoration-color: var(--color-acc);
    text-decoration-thickness: 0.3rem;
}
    a:hover{
        color: var(--color-acc);
        text-decoration-color: var(--color-text);
    }
/* Call to Action (CTA) */
a.cta{
    font-weight: var(--semi);
    text-transform: uppercase;
    padding: var(--btn-padding);
    background: var(--color-acc);
    margin: calc(var(--btn-padding)/2) 0 0 0;
    display: inline-block;
}
    .cta::before{
        display: none;
    }
    a.cta:hover{
        background: var(--color-text);
    }
q{
    font-size: var(--q-size);
    line-height: var(--q-lineheight);
    font-style: italic;
    font-weight: 100;
}
q+p{
    font-style: italic;
    font-size: var(--q-p-size);
}
.note{
    font-style: italic;
    font-size: 3rem;
    line-height: 3.4rem;
}
/*---------------
    Bullet and lists
----------------*/
li{
    position: relative;
    list-style: none;
    list-style-position: inside;
    margin: 0 0 0 3.5rem;
    line-height: 150%;
}
li::before{
    content: url(favicon-32x32.png);
    position: absolute;
    left: -3.5rem;
}
/*---------------
    Dividers
----------------*/
hr{
    height: 2rem;
    border: none;
    background:url(assets/divider.png) repeat-x;
    margin: var(--p-size) 0 var(--p-size) 0;
}
/*---------------
    Sections / Grid
----------------*/
section{
    min-height: 100vh;
    position: relative;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 0 50rem 0;
    column-gap: 15px;
}

main img{
    width: 100%;
}

article:last-child{
    grid-column-end: -1;
}
section h2{
    grid-column: 1/-1;
}
/*---------------
    Menu / Navigation
----------------*/
nav#topMenu{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s;
}
.menuIn{
    transform: translateX(0) !important;
}
nav img{
    max-width: 27.0rem;
    align-self: center;
}
nav ul{
    text-align: center;
    width: 100%;
}
nav li {
    display: block;
    margin: 0 0 2.9rem 0;
}
    nav li:last-child{
        margin: 0 0 0 0;
    }
nav a{
    text-transform: none;
}
nav li::before{
    content: none;
}
/*---------------
    Mobile bottom nav
----------------*/
nav.mobile{
    width: 100%;
    background: white;
    position: fixed;
    z-index: 9979;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: var(--mobile-btn-size);
    padding: 0.5rem 0 0.5rem 0;

}
input[type="checkbox"]{
    display: none;
}
label[for="mobilenav"]{
    position: relative;
    width: var(--mobile-btn-size);
    height: calc(var(--mobile-btn-size) * 0.75);
    align-self: center;
}
    label[for="mobilenav"] span{
        position: absolute;
        display: inline-block;
        width: var(--mobile-btn-size);
        height: 0.5rem;
        border-radius: 1rem;
        background-color: black;
    }
    label[for="mobilenav"] span:nth-child(1){
        top: 0;
        transform-origin: top left;
        width: var(--mobile-btn-size);
    }
    label[for="mobilenav"] span:nth-child(2){
        top: calc(50% - 0.25rem);
    }
    label[for="mobilenav"] span:nth-child(3){
        bottom: 0;
        transform-origin: bottom left;
        width: var(--mobile-btn-size);
    }
.aniMenuTop{
    animation: top 0.5s forwards;
    animation-delay: 0.1s;
}
.aniMenuCenter{
    animation: center 0.5s forwards;
}
.aniMenuBottom{
    animation: bottom 0.5s forwards;
    animation-delay: 0.1s;
}
@keyframes top{
    100%{
        transform: rotate(45deg);
        width: 3.5rem;
    }
}
@keyframes bottom{
    100%{
        transform: rotate(-45deg);
        width: 3.5rem;
    }
}
@keyframes center{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(10%);
        opacity: 1;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
    }
}
/*---------------
    Headers
----------------*/
.mobileHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: var(--p-size) 0 var(--p-size) 0;
}
header{
    display: grid;
    grid-template-columns: 1fr;
}
header aside,
header article{
    padding: var(--p-size);
    background-color: var(--color-acc);
}
header h1{
    color: var(--color-text);
}
header img{
    float: left;
}
header article{
    text-align: center;
}
.highlight,
.highlight > *{
    font-size: var(--headings-size);
    font-style: italic;
    margin: 0;
    height: auto;

}
.highlight p:nth-child(even){
    margin: 0 0 -3rem 0;
}
.highlight h3{
    font-size: calc(var(--headings-size) * 0.90);
    text-transform: uppercase;
    font-weight: var(--regular);
    margin: 0;
}
/*---------------
    Modal
----------------*/
#modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9989;
    background: rgba(0,0,0,0.5);
    overflow-y: scroll;

}
#modal .close{
    width: calc(var(--p-size) * 2);
    height: calc(var(--p-size) * 2);
    background: var(--color-acc);
    position: fixed;
    top: var(--p-size);
    right: var(--p-size);
    z-index: 9999;
}
#modal section{
    background: var(--color-acc);
    padding: var(--p-size);
    min-height: auto;
}
#modal h2{
    color: var(--color-text);
}
#modal h2:last-of-type{
    margin: 0 0 -2rem 0;
}
#modal h2:last-of-type + p + p{
    margin: -1rem 0 var(--p-size) 0;
}
#modal .italic{
    font-style: italic;
}
#modal section a{
    margin-top: var(--p-size);
}
/*---------------
    Break points
----------------*/
@media (min-width:768px){
    body{
        width: 85%;
    }
    nav.mobile{
        display: none;
    }
    nav#topMenu{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(255,255,255,0.9);
        z-index: 999;
        width: 100%;
        height: var(--nav-height);
        display: flex;
        align-content: center;
        flex-direction: column;
        transform: translateX(0);
        transition: 0;
    }
    nav img{
        max-width: 27.0rem;
        align-self: center;
    }
    nav ul{
        text-align: center;
        width: 100%;
    }
    nav li {
        display: inline;
        margin: 0 2.9rem 0 0;
    }
        nav li:last-child{
            margin: 0 0 0 0;
        }
    .mobileHeader{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: var(--nav-height) 0 0 0;
    }
    .about{
        display: grid;
        grid-template-columns: 1fr 1.5rem 1fr;
        margin: 0 0 50rem 0;
        column-gap: 15px;
    }
    .about h2{
        grid-column: 1 / -1;
        text-align: center;
    }
    .about #irene,
    .about #johannes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about p{
        padding: 0 0 0 1.5rem;
    }
    section hr{
        height: calc(100% - var(--p-size));
        background: url(assets/divider_split.png) repeat-y;
        margin: 0;
    }
    article:last-child{
        grid-column-end: -1;
    }
    section h2{
        grid-column: 1/-1;
    }
    /**
        produktContainer
    **/
    #products{
        display: grid;
        grid-template-columns: 25% 1fr;
        gap: 1.5rem;
    }
    #produktContainer{
        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
    }
    #produktContainer img{
        width: 100%;
    }
    #produktContainer img{
        grid-area: 1 / 1 / 3 / 3;
    }
    #produktContainer img:nth-child(2){
        grid-area: 1 / 3 / 2 / 4;
    }
    #produktContainer img:nth-child(3){
        grid-area: 2 / 3 / 3 / 4;
    }
    .target{
        top: calc(var(--nav-negative-height) * 2);
    }
}