/*---------------
    Global reset and imports
----------------*/
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 90%;
    margin: auto;
    font-family: 'Vollkorn', serif;
    background: pink;
}
/*---------------
    variables
----------------*/
:root{
    --headings-size: 5rem;
    --headings-wordspace: -1.5rem;

    --p-size: 1.6rem;
    --p-lineheight: 150%;

    --regular: 400;
    --semi: 500;
    --bold: 600;

    --q-size: 5rem;
    --q-lineheight: 4.5rem;
    --q-p-size: 2.5rem;

    /*colors*/
    --color-main: red;
    --color-text: black;
    --color-acc: #FFD1D1;
    
    /*buttons*/
    --btn-padding: 2rem;

    --mobile-btn-size: 3.6rem;

    --nav-negative-height: -10rem;
}
/*---------------
    Anchor target
----------------*/
.target{
    position: absolute;
    top: var(--nav-negative-height);
}
/*---------------
    Typography
----------------*/
@font-face{
    font-family: belshaw;
    src: url(fonts/belshaw.ttf);
}
h1,h2{
    font-family: belshaw;
    font-weight: 100;
    word-spacing: var(--headings-wordspace);
    font-size: var(--headings-size);
    color: var(--color-main);
}
p, li, a, q{
    font-size: var(--p-size);
    line-height: var(--p-lineheight);
    font-weight: var(--regular);

}
    p, a, q, ul{
        margin: 0 0 var(--p-size) 0;
    }
/* Links */
a, a:visited{
    text-transform: uppercase;
    position: relative;
    font-weight: var(--bold);
    color: black;
    text-decoration: none;
    transition: 0.3s;
    will-change: transition;
    text-decoration: underline;
    text-decoration-color: var(--color-acc);
    text-decoration-thickness: 0.3rem;
}
    a:hover{
        color: var(--color-acc);
        text-decoration-color: var(--color-text);
    }
/* Call to Action (CTA) */
a.cta{
    font-weight: var(--semi);
    text-transform: uppercase;
    padding: var(--btn-padding);
    background: var(--color-acc);
    margin: calc(var(--btn-padding)/2) 0 0 0;
    display: inline-block;
}
    .cta::before{
        display: none;
    }
    a.cta:hover{
        background: var(--color-text);
    }
q{
    font-size: var(--q-size);
    line-height: var(--q-lineheight);
    font-style: italic;
    font-weight: var(--regular);
}
q+p{
    font-style: italic;
    font-size: var(--q-p-size);
}
.note{
    font-style: italic;
    font-size: 3rem;
    line-height: 3.4rem;
}
/*---------------
    Bullet and lists
----------------*/
li{
    position: relative;
    list-style: none;
    list-style-position: inside;
    margin: 0 0 0 3.5rem;
    line-height: 150%;
}
li::before{
    content: url(favicon-32x32.png);
    position: absolute;
    left: -3.5rem;
}
/*---------------
    Dividers
----------------*/
hr{
    height: 2rem;
    border: none;
    background:url(assets/divider.png) repeat-x;
    margin: var(--p-size) 0 var(--p-size) 0;
}
/*---------------
    Sections / Grid
----------------*/
section{
    min-height: 100vh;
    position: relative;
}
section{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 0 50rem 0;
    column-gap: 15px;
}

article:last-child{
    grid-column-end: -1;
}
section h2{
    grid-column: 1/-1;
}
/*---------------
    Menu / Navigation
----------------*/
nav{
    display: flex;
    align-content: center;
    flex-direction: column;
}
nav img{
    max-width: 27.0rem;
    align-self: center;
}
nav ul{
    text-align: center;
    width: 100%;
}
nav li {
    display: inline;
    margin: 0 2.9rem 0 0;
}
    nav li:last-child{
        margin: 0 0 0 0;
    }
nav a{
    text-transform: none;
}
nav li::before{
    content: none;
}
/*---------------
    Mobile bottom nav
----------------*/

input[type="checkbox"]{
    display: none;
}
label[for="mobilenav"]{
    position: relative;
    width: var(--mobile-btn-size);
    height: var(--mobile-btn-size);
    background: white;
}
    label[for="mobilenav"] span{
        position: absolute;
        display: inline-block;
        width: var(--mobile-btn-size);
        height: 0.5rem;
        border-radius: 1rem;
        background-color: black;
        transition: 0.2s;
    }
    label[for="mobilenav"] span:nth-child(1){
        top: 0;
        transform-origin: top left;
        width: var(--mobile-btn-size);
    }
    label[for="mobilenav"] span:nth-child(2){
        top: calc(50% - 0.25rem);
    }
    label[for="mobilenav"] span:nth-child(3){
        bottom: 0;
        transform-origin: bottom left;
        width: var(--mobile-btn-size);
    }
.aniMenuTop{
    animation: top 0.5s forwards;
    animation-delay: 0.1s;
}
.aniMenuCenter{
    animation: center 0.5s forwards;
}
.aniMenuBottom{
    animation: bottom 0.5s forwards;
    animation-delay: 0.1s;
}
@keyframes top{
    100%{
        transform: rotate(45deg);
        width: 5rem;
    }
}
@keyframes bottom{
    100%{
        transform: rotate(-45deg);
        width: 5rem;
    }
}
@keyframes center{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(10%);
        opacity: 1;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
    }
}
/*---------------
    Break points
----------------*/
@media (min-width:768px){
    body{
        width: 85%;
    }
    .mobile{
        display: none;
    }
    section{
        display: grid;
        grid-template-columns: 1fr 1.5rem 1fr;
        margin: 0 0 50rem 0;
        column-gap: 15px;
    }
    section hr{
        height: calc(100% - var(--p-size));
        background: url(assets/divider_split.png) repeat-y;
        margin: 0;
    }
    article:last-child{
        grid-column-end: -1;
    }
    section h2{
        grid-column: 1/-1;
    }
}