/*---------------
    Global reset
----------------*/
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: auto;
    font-family: 'Vollkorn', serif;
    background:white;
}
.hide{
    display: none;
}
/*---------------
    variables
----------------*/
:root{
    --headings-size: 5rem;
    --headings-wordspace: -1.5rem;

    --p-size: 1.6rem;
    --p-lineheight: 150%;

    --regular: 400;
    --semi: 500;
    --bold: 600;

    --q-size: 5rem;
    --q-lineheight: 5.4rem;
    --q-p-size: 2.5rem;

    --hightlight-size: 5rem;

    /*colors*/
    --color-main: red;
    --color-text: black;
    --color-acc: #FFD1D1;
    
    /*buttons*/
    --btn-padding: 2rem;

    --mobile-btn-size: 3.6rem;

    --nav-negative-height: -10rem;
    --nav-height: 14rem;
}
/*---------------
    A little niceness for Chrome users also used on the modal
    https://css-tricks.com/snippets/css/complete-guide-grid/
----------------*/
body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color:rgba(255,0,0,0.5);
    outline: var(--color-main);
  }
/*---------------
    Anchor target
----------------*/
.target{
    position: absolute;
    top: 0;
}
#products{
    position: relative;
}
/*---------------
    Typography
----------------*/
@font-face{
    font-family: belshaw;
    src: url(fonts/belshaw.ttf);
}
h1,h2{
    font-family: belshaw;
    font-weight: 100;
    word-spacing: var(--headings-wordspace);
    font-size: var(--headings-size);
    color: var(--color-main);
}
p, li, a, q, span,i,b,strong{
    font-size: var(--p-size);
    line-height: var(--p-lineheight);
    font-weight: var(--regular);

}
    a, q{
        margin: 0 0 var(--p-size) 0;
    }
    p, ul, h2, h3{
        margin: 0 var(--p-size) var(--p-size) var(--p-size);
    }
/* Links */
a, a:visited{
    text-transform: uppercase;
    position: relative;
    font-weight: var(--bold);
    color: black;
    text-decoration: none;
    transition: 0.3s;
    will-change: transition;
    text-decoration: underline;
    text-decoration-color: var(--color-acc);
    text-decoration-thickness: 0.3rem;
}
    a:hover{
        color: var(--color-acc);
        text-decoration-color: var(--color-text);
    }
/* Call to Action (CTA) */
a.cta{
    font-weight: var(--semi);
    text-transform: uppercase;
    padding: var(--btn-padding);
    background: var(--color-acc);
    margin: calc(var(--btn-padding)/2) auto calc(var(--btn-padding)/2) auto;
    display: table;
}
    .cta::before{
        display: none;
    }
    a.cta:hover{
        background: var(--color-text);
    }
q{
    font-size: var(--q-size);
    line-height: var(--q-lineheight);
    font-style: italic;
    font-weight: 100;
}
q+p{
    font-style: italic;
    font-size: var(--q-p-size);
}
.note{
    font-style: italic;
    font-size: 3rem;
    line-height: 3.4rem;
}
/*---------------
    Bullet and lists
----------------*/
li{
    position: relative;
    list-style: none;
    list-style-position: inside;
    margin: 0 0 0 3.5rem;
    line-height: 150%;
}
li::before{
    content: url(favicon-32x32.png);
    position: absolute;
    left: -3.5rem;
}
/*---------------
    Dividers
----------------*/
hr{
    height: 2rem;
    border: none;
    background:url(assets/divider.png) repeat-x;
    margin: var(--p-size) 0 var(--p-size) 0;
}
.large{
    display: none;
}
/*---------------
    Sections / Grid
----------------*/
section{
    position: relative;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
}
main img{
    width: 100%;
}
article:last-child{
    grid-column-end: -1;
}
section h2{
    grid-column: 1/-1;
}
/*---------------
    Menu / Navigation
----------------*/
nav#topMenu{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 999;
    width: 100%;
    height: 100vh;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
}
.menuIn{
    transform: translateX(0) !important;
}
nav img{
    max-width: 27.0rem;
    height: 8rem;
    align-self: center;
}
nav li {
    display: block;
    margin: 0 0 2.9rem 0;
}
    nav li:last-child{
        margin: 0 0 0 0;
    }
nav a{
    text-transform: none;
}
nav li::before{
    content: none;
}
nav hr{
    max-width: 50%;
    margin: auto 25% auto 25%;
}
/*---------------
    Mobile bottom nav
----------------*/
nav.mobile{
    width: 100%;
    background: white;
    position: fixed;
    z-index: 9979;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: var(--mobile-btn-size);
    padding: 0.5rem 0 0.5rem 0;
}
nav.mobile img{
    height: auto;
}
input[type="checkbox"]{
    display: none;
}
label[for="mobilenav"]{
    position: relative;
    width: var(--mobile-btn-size);
    height: calc(var(--mobile-btn-size) * 0.75);
    align-self: center;
}
    label[for="mobilenav"] span,
    .close span{
        position: absolute;
        display: inline-block;
        width: var(--mobile-btn-size);
        height: 0.5rem;
        border-radius: 1rem;
        background-color: black;
    }
    label[for="mobilenav"] span:nth-child(1){
        top: 0;
        transform-origin: top left;
        width: var(--mobile-btn-size);
    }
    label[for="mobilenav"] span:nth-child(2){
        top: calc(50% - 0.25rem);
    }
    label[for="mobilenav"] span:nth-child(3){
        bottom: 0;
        transform-origin: bottom left;
        width: var(--mobile-btn-size);
    }
.aniMenuTop{
    animation: top 0.5s forwards;
    animation-delay: 0.1s;
}
.aniMenuCenter{
    animation: center 0.5s forwards;
}
.aniMenuBottom{
    animation: bottom 0.5s forwards;
    animation-delay: 0.1s;
}
@keyframes top{
    100%{
        transform: rotate(45deg);
        width: 3.5rem;
    }
}
@keyframes bottom{
    100%{
        transform: rotate(-45deg);
        width: 3.5rem;
    }
}
@keyframes center{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(10%);
        opacity: 1;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
    }
}
/*---------------
    Headers
----------------*/
.mobileHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: var(--p-size) 0 var(--p-size) 0;
}
header{
    display: grid;
    grid-template-columns: 1fr;
}
header aside,
header article{
    padding: var(--p-size);
    background-color: var(--color-acc);
}
header h1{
    color: var(--color-text);
}
header img{
    float: left;
    width: 100%;
    height: auto;
}
header article{
    text-align: center;
}
.highlight,
.highlight > *{
    font-size: var(--headings-size);
    font-style: italic;
    margin: 0;
    height: auto;

}
.highlight p:nth-child(even){
    margin: 0 0 -3rem 0;
}
.highlight h3{
    font-size: calc(var(--headings-size) * 0.90);
    text-transform: uppercase;
    font-weight: var(--regular);
    margin: 0;
}
/*---------------
    Modal
----------------*/
#modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9989;
    background: rgba(0,0,0,0.5);
    overflow-y: scroll;

}
#modal p,
#modal ul,
#modal h2,
#modal h3{
    margin: 0 0 var(--p-size) 0;
}
#modal::-webkit-scrollbar {
    width: 1em;
  }
   
  #modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  #modal::-webkit-scrollbar-thumb {
    background-color:rgba(255,0,0,0.5);
    outline: var(--color-main);
  }

#modal .close{
    width: calc(var(--p-size) * 2);
    height: calc(var(--p-size) * 2);
    background: none;
    position: fixed;
    top: var(--p-size);
    right: var(--p-size);
    z-index: 9999;
}
#modal .close span{
    position: absolute;
    transform-origin: center center;
}
#modal .close span:nth-child(1){
    transform: rotate(45deg);
}
#modal .close span:nth-child(2){
    transform: rotate(-45deg);
}
#modal .close span:nth-child(1),
#modal .close span:nth-child(2){
    top: 50%;
    background: var(--color-acc);
    border: solid 0.2rem gray;
}
#modal section{
    background: var(--color-acc);
    padding: var(--p-size);
    min-height: auto;
}
#modal h2{
    color: var(--color-text);
}
#modal h2:last-of-type{
    margin: 0 0 -2rem 0;
}
#modal h2:last-of-type + p + p{
    margin: -1rem 0 var(--p-size) 0;
}
#modal .italic{
    font-style: italic;
}
#modal section a{
    margin-top: var(--p-size);
}
/********

    main content

********/
#iphone{
    width: 53%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    grid-column: 1 / 2;
    transform: rotate(-4deg);
    transform-origin: center center;
    top: -3%;
    left: 2%;
}
#iphone * {
    position: absolute;
    width: 100%;
    height: auto;
}
#iphone img:nth-child(1){
    z-index: 2;
    pointer-events: none;
}
#iphone video{
    z-index: 1;
}
    #iphone img:nth-child(1){
        width: 100%;
        transform-origin: bottom center;
        transform: scale(.87) translateY(100);
    }
    #iphone video{
        width: 100%;
        transform-origin: bottom center;
        transform: scale(.87) translateY(0);
    }
.mainContent ul{
    text-align: center;
}
.mainContent ul li{
    margin: 0;
    font-weight: var(--bold);
}
.mainContent ul li:first-child{
    margin: 0;
    font-weight: var(--regular);
}
.mainContent ul li::before{
    content: none;
}
.break{
    text-align: center;
}
.break p{
    font-size: calc(var(--p-size) * 2);
    font-style: italic;
    font-weight: var(--bold);
    line-height: 150%;
}
/*
    Product container
*/
#produktContainer .more{
    position: relative;
    cursor: pointer;
}
    #produktContainer .more{
        width: 100%;
        height: auto;
    }
    #produktContainer .more::before{
        position: absolute;
        content: "Læs mere";
        font-size: var(--p-size);
        background: var(--color-acc);
        bottom: calc(var(--p-size) * 2);
        right: calc(var(--p-size) * 2);
        padding: var(--p-size);
        z-index: 1;
        display: block;
    }
    #employeeContainer h3{
        font-size: calc(var(--p-size) * 1.25);
    }
/*---------------
    Footer
----------------*/
footer{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-image: url(assets/JohannesAntikSalg_grafisk_element.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    margin: 0 0 calc(var(--mobile-btn-size) + 1rem) 0;
}
footer div{
    grid-column: 2 / -1;
}
footer ul li{
    margin: 0;
    font-weight: var(--bold);
}
footer ul li:first-child{
    font-weight: var(--regular);
}
footer ul li::before{
    content: "";
    left: 0;

}
/*---------------
    Break points
----------------*/
@media (min-width:768px){
    header,main{
        width: 85%;
    }
    main{
        margin: 0 auto 0 auto;
    }
    main .mainContent{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        gap: var(--p-size);
    }
    /* first section / FaceTime */
    .mainContent:nth-of-type(1) div{
        grid-column: 4 / -1;
    }
    .mainContent:nth-of-type(1) img{
        grid-column: 2 / 4;
    }
    .mainContent:nth-of-type(3) picture{
        grid-column: 2 / -1;
    }
    .mainContent:nth-of-type(4) picture{
        grid-column: 1 / 4;
    }
    #iphone{
        width: 107%;
        grid-column: 1 / 2;
        transform: rotate(14deg);
        top: -3%;
        left: 51%;
    }
    p, ul, h2, h3{
        margin: 0 0 var(--p-size) 0;
    }
    nav.mobile{
        display: none;
    }
    .large{
        display: initial;
    }
    nav#topMenu{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(255,255,255,0.9);
        z-index: 999;
        width: 100%;
        height: var(--nav-height);
        display: flex;
        align-content: center;
        flex-direction: column;
        transform: translateX(0);
        transition: 0;
    }
    nav img{
        max-width: 27.0rem;
        align-self: center;
    }
    nav ul{
        text-align: center;
        width: 100%;
    }
    nav li {
        display: inline;
        margin: 0 2.9rem 0 0;
    }
        nav li:last-child{
            margin: 0 0 0 0;
        }
    .mobileHeader{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        margin: var(--nav-height) auto 0 auto;
    }
    #employeeContainer{
        display: grid;
        grid-template-columns: 1fr 1.5rem 1fr;
        column-gap: 15px;
    }
    .about h2{
        text-align: center;
    }
    #employeeContainer section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #employeeContainer p, h3{
        padding: 0 0 0 1.5rem;
    }
    #employeeContainer hr:last-of-type{
        display: none;
    }
    section hr{
        height: calc(100% - var(--p-size));
        background: url(assets/divider_split.png) repeat-y;
        margin: 0;
    }
    article:last-child{
        grid-column-end: -1;
    }
    section h2{
        grid-column: 1/-1;
    }
    /**
        produktContainer
    **/
    #products{
        display: grid;
        grid-template-columns: 25% 1fr;
        gap: 1.5rem;
    }
    #produktContainer{
        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
    }
    #produktContainer img{
        width: 100%;
    }
    #produktContainer .more{
        grid-area: 1 / 1 / 3 / 3;
    }

    #produktContainer .more:nth-child(2){
        grid-area: 1 / 3 / 2 / 4;
    }
    #produktContainer .more:nth-child(3){
        grid-area: 2 / 3 / 3 / 4;
    }
    .target{
        top: calc(var(--nav-negative-height) * 2);
    }
    #modal{
        overflow-y: hidden;
    }
    #modalBody section{
        grid-area: info;
        overflow-y: scroll;
        height: 65.5rem
    }
    #modalBody a{
        grid-area: link;
        max-height: 1.8rem;
    }
    #modalBody img{
        grid-area: image;
    }
    #modalBody{
        margin: 10vh auto 10vh auto;
        width: 60%;
        display: grid;
        grid-template-areas: 
        "info image image image"
        "info image image image"
        "link image image image";
    }
    #modalBody section::-webkit-scrollbar {
        width: 1em;
      }
       
      #modalBody section::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      #modalBody section::-webkit-scrollbar-thumb {
        background-color:rgba(255,0,0,0.5);
        outline: var(--color-main);
      }
      footer{
          min-height: 44.4rem;
          margin: 0;
      }
      .break p{
          width: 50%;
          display: inline-block;
      }

}